<div class="jumbotron">
  <h2>Google Play App List</h2>
  <p class="lead">
    <img src="https://lh3.googleusercontent.com/-hb5gQLnhlH0/AAAAAAAAAAI/AAAAAAAAPS8/n--TGUrH7lA/s200-c/photo.jpg" class="btn-circle btn-xxl"><br>
    In next list show app list to available to manage strings to differents languages.
  </p>
  <!--<p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>-->
</div>

<!--<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>

  <h2>Anartz Muxika Google Play App List</h2>
  <p>In next list show app list to available to manage strings to differents languages:</p>-->                                                                                      
  <div class="table-responsive">          
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>App Name</th>
          <th>Description</th>
          <th>Published date</th>
          <th>Last update</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody ng-repeat="app in apps">
        <tr>
          <td>{{$index + 1}}</td>
          <td><a href="https://play.google.com/store/apps/details?id={{app.id}}">{{app.name}}</a></td>
          <td>{{app.original_language}}</td>
          <td>{{app.first_published}}</td>
          <td>{{app.last_update}}</td>
          <td>
              <a href="translations/{{app.id}}/1" id="btnEdit" title="Show app more info" class="btn btn-sm btn-info glyphicon glyphicon-eye-open"/>
              <button id="btnEdit" title="Change app data" class="btn btn-sm btn-warning glyphicon glyphicon-pencil"/>
              <button id="btnExc" title="Delete App" class="btn btn-sm btn-danger glyphicon glyphicon-trash"/>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
