<div class="table-responsive">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>         
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>App Name</th>
        <th>Description</th>
        <th>Published date</th>
        <th>Last update</th>
        <th>Actions</th>
      </tr>
    </thead>
    <!--<tbody ng-repeat="text in translations_texts">
      <tr>
        <td>{{$index + 1}}</td>
        <td><a href="https://play.google.com/store/apps/details?id={{app.id}}">{{app.name}}</a></td>
        <td>{{app.original_language}}</td>
        <td>{{app.first_published}}</td>
        <td>{{app.last_update}}</td>
        <td>
            <button id="btnEdit" class="btn btn-sm btn-warning glyphicon glyphicon-pencil"/>
            <button id="btnExc" class="btn btn-sm btn-danger glyphicon glyphicon-trash"/>
        </td>
      </tr>
    </tbody>-->
  </table>
</div>